.work-card-container {
	max-width: calc(100% / 4 - 15px);
	color: var(--color1);
	width: 100%;

	position: relative;

	@media #{$mobile} {
		max-width: calc(100% / 2 - 5px);
	}

	> .text-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		margin-top: 10px;
		text-transform: capitalize;

		> .title {
			font-size: 1.2em;
		}

		> .type {
			text-transform: uppercase;
			font-size: 1em;
			font-weight: bold;
			color: $gray5;
			margin-top: 5px;

			@media #{$mobile} {
				word-break: keep-all;
			}
		}
	}

	> .desc-container {
		position: relative;
		height: fit-content;
		cursor: pointer;

		> .desc {
			width: 100%;
			height: 100%;

			padding: 20px;
			border-radius: 15px;

			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			top: 0;
			left: 0;

			background-color: rgba(0, 0, 0, 0.459);
			color: $white;
			opacity: 0;
		}

		> img {
			border-radius: 15px;

			width: 100%;
			display: block;
		}
	}

	> .desc-container:hover {
		> .desc {
			opacity: 1;
		}
	}
}
