.work-card-container {
	max-width: calc(100% / 3 - 15px);
	color: var(--color1);
	width: 100%;

	position: relative;

	@media #{$tablet} {
		max-width: calc(100% / 2 - 15px);
	}

	@media #{$mobile} {
		max-width: calc(100% - 5px);
	}

	> .text-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		margin-top: 10px;
		text-transform: capitalize;

		@media #{$mobile} {
			margin-top: 5px;
		}

		> .title {
			font-size: 1.2em;

			@media #{$mobile} {
				word-break: keep-all;
				font-size: 3.5vw;
			}
		}

		> .type {
			text-transform: uppercase;
			font-size: 1em;
			font-weight: bold;
			color: $gray5;
			margin-top: 5px;

			@media #{$mobile} {
				word-break: keep-all;
				font-size: 2.5vw;
				margin-top: 0;
			}
		}
	}

	> .desc-container {
		position: relative;
		height: fit-content;
		cursor: pointer;
		aspect-ratio: 1 / 1;

		> .desc {
			width: 100%;
			height: 100%;

			padding: 20px;
			border-radius: 15px;

			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			top: 0;
			left: 0;

			background-color: rgba(0, 0, 0, 0.459);
			color: $white;
			opacity: 0;
		}

		> img {
			border-radius: 15px;

			width: 100%;
			height: 100%;
			display: block;

			object-fit: cover;
		}
	}

	> .desc-container:hover {
		> .desc {
			opacity: 1;
		}
	}

	> .modal {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 30;

		background-color: rgba(0, 0, 0, 0.8);

		display: flex;
		flex-wrap: wrap;
		align-content: center;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		padding-top: 30px;

		@media #{$mobile} {
			padding-top: 0;
			justify-content: center;
		}

		> img {
			max-width: 70%;
			max-height: 80%;
			display: block;

			@media #{$mobile} {
				max-width: 70%;
				max-height: 70%;
			}
		}

		> .text-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-top: 50px;
			color: $white;

			@media #{$mobile} {
				margin-top: 20px;
			}

			> a {
				text-decoration: none;

				> .title {
					color: $white;
					font-size: 1.2em;
				}
			}

			> .type {
				text-transform: uppercase;
				font-size: 1em;
				font-weight: bold;
				margin-top: 5px;
			}
		}
	}
}
